<div class="form_container">
    <form>
        <div class="form_fields">
            <app-label labelFor="match_game" labelText="Tu nombre"/>
            <input type="text"/>
        </div>
        <div class="form_radios">
            <div>
                <app-label labelFor="player" labelText="Jugador"/>
                <input type="radio" id="player" name="playerType" value="player">
            </div>
            <div>
                <app-label labelFor="spectator" labelText="Espectador"/>
                <input type="radio" id="spectator" name="playerType" value="spectator">
            </div>
        </div>
        <button type="submit" class="button_primary" [disabled]="!signupForm.valid" [class.active]="signupForm.valid">Crear partida</button>
    </form>
</div>
