/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #380971;
    background: radial-gradient(
        circle,
        rgba(56, 9, 113, 1) 0%,
        rgb(0, 0, 0) 100%
    );
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 1.25rem;
    padding: 0.50rem 1.25rem; 
}

a {
    text-decoration: none;
}